h1 {
    margin: 0;
    text-align: center;
}

.blurry {
    background-color: #c7287d;
    border: none;
    filter: blur(5vw);
    height: 10vw;
    margin: 0 10vw;
}

@media (min-aspect-ratio: 16/9) {
    .blurry {
        filter: blur(calc(5vh * 16 / 9));
        height: calc(10vh * 16 / 9);
        margin: 0 calc(10vh * 16 / 9);
    }
}

.footnote {
    margin: 4em;
    text-align: center;
}
