<h2>The sky is the limit</h2>
<table>
    <tr>
        <th></th>
        <th>size (bytes)</th>
        <th>time (ms)</th>
    </tr>
    <tr>
        <td>libav.js</td>
        <td>~1300000</td>
        <td>~130ms</td>
    </tr>
    <tr>
        <td>mediabunny</td>
        <td>~50000</td>
        <td>~25ms</td>
    </tr>
    <tr>
        <td>?</td>
        <td>~5000</td>
        <td>~30ms</td>
    </tr>
</table>
<a class="footnote" href="https://github.com/Yahweasel/libav.js/">github.com/Yahweasel/libav.js/</a>
