<h2>Containers all the way down</h2>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 900 340">
        <rect fill="none" height="336" stroke="#c7287d" stroke-linejoin="round" stroke-width="4" width="896" x="2" y="2"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="left" x="10" y="20">
            MP4
        </text>
        <rect fill="none" height="286" stroke="#c7287d" stroke-linejoin="round" stroke-width="4" width="846" x="42" y="42"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="left" x="50" y="60">
            MP3
        </text>
        <rect fill="none" height="236" stroke="#c7287d" stroke-linejoin="round" stroke-width="4" width="796" x="82" y="82"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="left" x="90" y="100">
            ID3
        </text>
        <rect fill="none" height="186" stroke="#c7287d" stroke-linejoin="round" stroke-width="4" width="746" x="122" y="122"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="left" x="130" y="140">
            JPEG
        </text>
        <rect fill="none" height="136" stroke="#c7287d" stroke-linejoin="round" stroke-width="4" width="696" x="162" y="162"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="left" x="170" y="180">
            EXIF
        </text>
        <rect fill="none" height="86" stroke="#c7287d" stroke-linejoin="round" stroke-width="4" width="646" x="202" y="202"></rect>
        <text alignment-baseline="central" class="label" dominant-baseline="mathematical" fill="#F2F2F8" text-anchor="left" x="210" y="220">
            MP4
        </text>
    </svg>
</div>
